---
http_interactions:
- request:
    method: post
    uri: https://graphql.datocms.com/
    body:
      encoding: UTF-8
      string: '{"query":"query($id: ItemId) {\n  book(filter: { id: { eq: $id } })
        {\n    id\n    title\n    author\n  }\n}\n","variables":{"id":"Jm6ugdGzTtu7jBsIQOVNSQ"}}'
    headers:
      Authorization:
      - Bearer <DATOCMS_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"331d34086d0fe71be161e65e8f0f08aa"
      X-Analysis-Fields-Count:
      - '2'
      X-Analysis-Introspection:
      - '0'
      X-Analysis-Item-Types-Count:
      - '1'
      X-Analysis-Successful:
      - '1'
      X-Batch:
      - '0'
      X-Complexity:
      - '303'
      X-Environment:
      - main
      X-Max-Complexity:
      - '10000000'
      X-Query-Digest:
      - 9fbff7706e93dab054a73ced97940773
      X-Queue-Time:
      - 1ms
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Timings-Execution:
      - '0.005'
      X-Timings-Preanalysis:
      - '0.001'
      X-Timings-Schema-Generation:
      - '0.021'
      X-Timings-Total:
      - '0.027'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"book":{"id":"Jm6ugdGzTtu7jBsIQOVNSQ","title":"Some People
        Need Killing: A Memoir of Murder in My Country","author":"Patricia Evangelista"}}}'
  recorded_at: Sat, 14 Feb 2026 05:56:11 GMT
recorded_with: VCR 6.4.0
